@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    color: #fff;
    background: #000;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}
